.course-card {
    /* height: 28rem;
    width: 28rem; */
    height: 40vh;
    width: 25vw;
    max-width: 460px;
    min-width: 360px;
    min-height: 460px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.28);
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 0px none #000000;
}

.course-card--info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

.course-card--title {
    font-size: 1.6rem;
    font-weight: 600;
}

.course-card--admins {
    font-size: 1.6rem;
    font-weight: 300;
}

.course-card--price {
    font-size: 1.6rem;
    font-weight: 600
}