.course-card {
    height: 25vw;
    width: 25vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-card--info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.course-card--title {
    font-size: 1.6rem;
    font-weight: 600;
}

.course-card--admins {
    font-size: 1.6rem;
    font-weight: 300;
}

.course-card--price {
    font-size: 1.6rem;
    font-weight: 600
}