.instructed-courses {
    padding: 3vw 10vw;
    color: rgb(99 102 241);
}

.instructed-courses > h1:first-of-type {
    padding-left: 20px;
    font-size: 4rem;
}

.create-project-button {
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 6px;
    border: solid rgb(99 102 241) 3px;
    background-color: inherit;
    color: rgb(99 102 241                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             );
    margin-left: 20px;
    padding: 15px 24px;
}

.create-project-button:hover {
    background-color: rgb(99 102 241);
    color: white;
}